@media only screen and (max-width: 1280px) {

	.row {
		padding: 0 25px;
	}

	.wrapper {
		overflow: hidden;
	}

	/*-- Header --*/

	.header_site {
	    padding-top: 10px;
	}

	.header_site .center_col {
	    width: calc(100% - 450px);
	}

	.header_site .right_col {
	    width: 280px;
	}

	.header_site .logo {
	    left: 0;
	}

	.main_nav li {
	    padding: 0 10px;
	}

	header .good_thumb h3 {
	    font-size: 18px;
	}

	header .good_thumb .img_box h3 {
	    font-size: 18px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.promo_templ .flex_wrapp:after {
	    right: 5px;
	}

	/*-- /Section 1 - Main Page --*/

}

@media only screen and (max-width: 1124px) {

	/*-- Header --*/

	.header_site {
	    padding-right: 50px;
	    position: relative;
	}

	.header_site .left_col {
		position: relative;
		z-index: 14;
	}

	.header_site .center_col {
	    width: 0;
	    padding: 0;
	}

	.header_site .right_col {
	    width: calc(100% - 150px);
	}

	.header_site .respmenubtn {
	    position: absolute;
	    top: 14px;
	    right: 0;
	    z-index: 13;
	}

	.header_site_wrapp {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 12;
		background: #ffffff;
	}

	.respmenubtn {
		display: block;
		top: 10px;
	}

	.main_nav_wrapp {
	    display: none;
	}

	.close_btn {
	    display: block;
	}

	.contacts_list {
	    justify-content: flex-end;
	    -webkit-justify-content: flex-end;
	    margin: 3px 0;
	}

	.nav_tabs_wrapp {
		display: none !important;
	}

	#resp_nav {
		/*display: block;*/
		display: none;
		width: 100%;
		height: calc(100vh - 52px);
		overflow-y: auto;
		margin: 53px 0 0 0;
		padding: 28px 20px 50px 20px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 13;
		background: #ffffff;
	}

	#resp_nav .main_nav_resp {
		display: block;
		min-height: 378px;
	}

	#resp_nav .main_nav_resp li {
		display: block;
		padding: 10px 0;
	}

	#resp_nav .main_nav_resp li a {
	    text-align: left;
	    padding: 0;
	    font-family: Open Sans;
		font-weight: normal;
		font-size: 14px;
		line-height: 15px;
		color: #000000;
	}

	#resp_nav .main_nav_resp li a.active {
		font-weight: bold;
	}

	#resp_nav .main_nav_resp li a:after {
		display: none;
	}

	#resp_nav .main_nav_resp li .sub_menu {
	    display: none;
	    width: 100%;
	    padding: 6px 0 0 0;
	}

	.resp_nav_thumb {
	    display: block;
	}

	#resp_nav .main_nav_resp li > a.active + .sub_menu {
	    display: block;
	}

	#resp_nav .main_nav_resp ul.sub_menu li {
	    padding: 5px 10px;
	}

	#resp_nav .main_nav_resp ul.sub_menu li a {
	    display: inline-block;
	    padding: 5px 0;
	    white-space: nowrap;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.promo_templ .flex_wrapp:after {
	    top: 30px;
	}

	.promo_templ .flex_wrapp .left_col {
	    width: 60%;
	    padding: 30px 10px 30px 0;
	}

	.promo_templ .flex_wrapp .right_col {
	    width: 40%;
	}

	.promo_tags {
	    margin: 0 -20px;
	}

	.promo_tags li {
	    padding: 0 20px;
	}

	h1 {
	    font-size: 40px;
	}

	.promo_slider_wrapp {
	    padding: 10px 0 5px 0;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 4 - Main Page --*/

	.thumb_2:nth-child(1) {
		display: none;
	}

	.thumb_2 {
	    width: calc(50% - 22px);
	}

	/*-- /Section 4 - Main Page --*/

	/*-- Section 10 - Main Page --*/

	.items_thumbnails {
	    padding: 27px 0;
	}

	/*-- /Section 10 - Main Page --*/

}


@media only screen and (max-width: 1024px) {

	/*-- Section 5 - Main Page --*/

	.article {
	    margin: 10px 0;
	}

	.article .left_col {
	    width: 100%;
	    position: relative;
	    padding: 10px 0 10px 80px;
	}

	.article .right_col {
	    width: 100%;
	    padding: 10px 0;
	}

	.resp_vector {
		display: block;
		position: absolute;
		top: 29px;
		left: 0;
	}

	.article h2 {
		padding: 0;
	    font-size: 36px;
	    line-height: 50px;
	}

	.vector_article .col_1 {
		width: 100%;
		padding: 0;
	}

	.vector_article .col_2 {
		display: none;
	}

	/*-- /Section 5 - Main Page --*/

	/*-- Section 6 - Main Page --*/

	.thumb_3 {
	    width: calc(50% - 50px);
	}

	/*-- /Section 6 - Main Page --*/

	/*-- Section 11 - Main Page --*/

	.grey_box:after {
	    top: 8px;
	    left: 8px;
	}

	/*-- /Section 11 - Main Page --*/

	/*-- Section 2 - Cards Page --*/

	.good_thumb {
	    width: calc(50% - 24px);
	    min-height: 200px;
	}

	.good_thumb h3 {
	    font-size: 18px;
	}

	.good_thumb .img_box h3 {
	    font-size: 18px;
	}

	/*-- /Section 2 - Cards Page --*/

	/*-- Section 1 - Good Card Page --*/

	.two_cols_templ_2 {
		display: block;
	}

	.two_cols_templ_2 .left_col {
	    width: 100%;
	    padding-right: 0;
	}

	.two_cols_templ_2 .right_col {
	    width: 100%;
	    margin-top: 63px;
	    padding-top: 12px;
	    padding-left: 0;
	    position: relative;
	}

	.two_cols_templ_2 .right_col > div {
		position: relative;
		z-index: 2;
	}

	.two_cols_templ_2 .right_col:after {
		display: block;
		content: "";
		width: calc(100% + 50px);
		height: 100%;
		position: absolute;
		top: 0;
		left: -25px;
		background-color: #F7F7F7;
	}

	/*-- /Section 1 - Good Card Page --*/

}


@media only screen and (max-width: 900px) {

	.row {
		padding: 0 20px;
	}

	/*-- Section 1 - Main Page --*/

	.promo_templ .flex_wrapp .left_col {
	    width: 100%;
	    padding: 10px 0;
	}

	.promo_templ .flex_wrapp .right_col {
	    width: 100%;
	    max-width: 600px;
	    margin: 0 auto;
	    padding: 10px 0;
	}

	.promo_content h1 {
	    margin: 10px 0;
	}

	.promo_slider .slide .img_box {
	    width: 100%;
	}

	.promo_templ .flex_wrapp .right_col:before {
	    top: 0;
	    left: -25px;
	}

	.promo_slider .slick-arrow {
	    background: #F5F5F7;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 3 - Main Page --*/

	.big_fonts {
	    max-width: 628px;
	}

	.big_font p {
	    font-size: 150px;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 10 - Main Page --*/

	.item_thumb_2 {
	    width: calc(50% - 50px);
	    margin: 32px 25px;
	}

	/*-- /Section 10 - Main Page --*/

	/*-- Section 11 - Main Page --*/

	.grey_box .inner_flex {
	    padding: 25px 20px 10px 20px;
	}

	/*-- /Section 11 - Main Page --*/

	/*-- Section 2 - Project Page --*/

	.two_cols_templ .left_col {
	    width: 33.33%;
	}

	.two_cols_templ .right_col {
	    width: 66.66%;
	}

	/*-- /Section 2 - Project Page --*/

	/*-- Section 2 - Project Page --*/

	.project {
	    width: calc(33.33% - 24px);
	}

	/*-- /Section 2 - Project Page --*/

	/*-- Footer --*/

	.footer_three_cols .col {
	    width: 50%;
	    padding: 0 3%;
	}

	.footer_three_cols .col:nth-child(2) {
	    width: 50%;
	}

	.footer_three_cols .col:last-child {
	    width: 100%;
	}

	.footer_form_wrapp {	    
	    max-width: 600px;
	    margin: 0 auto;
	    padding: 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 767px) {

.section_title {
    padding-top: 8px;
}

/*-- Section 3 - Main Pa --*/

.big_fonts_wrapp {
    padding: 12px 0;
}

.big_font p.num_thumb {
    display: block;
}

.item_thumb {
    margin: 13px 0;
    padding: 0;
}

.item_thumb:nth-child(odd) {
    width: 100%;
    padding-left: 25px;
}

.item_thumb:nth-child(even) {
	width: 100%;
	padding-left: 25px;
}

.items_thumbs {
	margin: 19px auto;
}

.item_thumb p.num_thumb {
    display: block;
}

.item_thumb p {
    padding: 4px 0;
}

.descript_row .description_box_1 {
    position: relative;
    bottom: 0;
}

.description_box {
    max-width: 100%;
    margin-bottom: 31px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 8 - Main Page --*/

.thumb_4 {
    width: 100%;
    margin: 20px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 10 - Main Page --*/

.item_thumb_2 {
    width: 100%;
	margin: 15px 0;
}

/*-- /Section 10 - Main Page --*/

/*-- Section 11 - Main Page --*/

.grey_box {
    margin: 20px auto;
}

.grey_box .inner_flex {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	padding: 25px 40px 16px 40px;
}

.grey_box .inner_flex .left_col {
    width: 100%;
    padding: 12px 10px 0 10px;
}

.grey_box .inner_flex .right_col {
    width: 100%;
    padding: 20px 10px 10px 10px;
    text-align: left;
}

.grey_box h2 {
    padding: 0 0 6px 0;
    font-size: 24px;
    line-height: 30px;
}

.grey_box .red_btn {
    width: 100%;
    min-width: 197px;
    max-width: 197px;
    margin: 0;
}

.grey_box h2:before {
    top: 18px;
}

/*-- /Section 11 - Main Page --*/

/*-- Section 12 - Main Page --*/

.map_wrapp .map_tooltip {
    max-width: 100%;
    position: relative;
    top: 0;
    right: 0;
}

/*-- /Section 12 - Main Page --*/

/*-- Section 1 - Cards Page --*/

.promo_title {
    margin-top: 40px;
}

.sect_1_cp {
    padding: 2px 0 17px 0;
}

h2 {
    font-size: 25px;
}

.promo_title p {
    font-size: 14px;
}

/*-- /Section 1 - Cards Page --*/

/*-- Section 1 - Good Card Page --*/

.good_slider_templ {
    margin-left: 0;
}

.good_slider_templ .left_col {
    width: 100%;
    padding-right: 0;
}

.good_slider_templ .right_col {
    width: 100%;
    padding: 10px 0 0 0;
    padding-left: 0;
}

/*-- /Section 1 - Good Card Page --*/

/*-- Section 1 - Good Card Page --*/

.two_cols_templ_2 h2 .grey {
	display: none;
}

.table_2 .table_row {
    margin: 10px 0;
}

.thumbmails_5 {
    margin: 23px 0;
}

.two_cols_templ_2 .left_col {
	position: relative;
}

.two_cols_templ_2 .left_col > div {
	position: relative;
	z-index: 2;
}

.two_cols_templ_2 .left_col:before {
	content: "";
	width: calc(100% + 50px);
	height: 100%;
	position: absolute;
	top: 0;
	left: -25px;
	background-color: #F7F7F7;
}

.table_2 .table_row {
	margin: 0 -24px;
	padding: 16px 25px 20px 26px;
	align-items: flex-start;
    -webkit-align-items: flex-start;
}

.table_2 .table_row:nth-child(even) {
	background-color: #ffffff;
}

.table_2 .table_row:nth-child(even) .cell > div {
    background-color: #ffffff;
}

.table_2 .table_row:nth-child(odd) .cell > div {
    background-color: #F7F7F7;
}

.table_2 .table_row:before {
	display: none;
}

.table_2 .table_row .cell:nth-child(1) {
    width: 46%;
}

.table_2 .table_row .cell:nth-child(2) {
    width: 54%;
}

/*-- /Section 1 - Good Card Page --*/

/*-- Section 3 - Good Card Page --*/

.tree_cols_text {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

/*-- /Section 3 - Good Card Page --*/

/*-- Section 2 - Delivery Page --*/

.delivery_thumbnails {
    margin: 17px 0 73px 0;
}

.delivery_thumb {
    width: 100%;
    margin: 12px 0;
    min-height: auto;
    padding: 30px 25px 28px 25px;
}

.delivery_thumb h2 {
    padding: 10px 0 0 25px;
}

.delivery_thumb h2:before {
    width: 8px;
    height: 8px;
    top: 29px;
    left: 0;
}

/*-- /Section 2 - Delivery Page --*/

/*-- Section 2 - Portfolio Page --*/

.portfolio_thumb_2 {
    width: calc(50% - 26px);
}

/*-- /Section 2 - Portfolio Page --*/

/*-- Section 2 - Project Page --*/

.sect_2_pp {
    padding: 10px 0 28px 0;
}

.projects_thumbnails .slick-slide {
	padding: 0 12px;
	text-align: center;
}

.project {
	display: inline-block;
	vertical-align: top;
    width: 220px !important;
    height: 290px;
    margin: 12px 0;
}

.portfolio_thumbnails_2 {
	margin-bottom: 17px !important;
}

.resp_portfolio_slider .slick-slide {
	padding: 0 10px;
}

.resp_portfolio_slider .portfolio_thumb_2 {
	width: 240px !important;
	margin: 10px 0;
}

/*-- /Section 2 - Project Page --*/

/*-- Section 2 - Setificates Page --*/

.sertificate {
	text-align: left;
	width: 244px !important;
}

.sertificate .img_box {
    height: 344px;
}

/*-- /Section 2 - Setificates Page --*/

/*-- Section 2 - About Page --*/

.article_4 {
    margin: 0;
}

.article_4 .left_col {
    width: 100%;
    padding: 11px 0;
}

.article_4 .right_col {
    width: 100%;
    padding: 11px 0;
}

.article_4 .img_box img {
    max-height: 345px;
    min-width: auto;
    min-height: auto;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}

.article_4:nth-child(even) .left_col {
    width: 100%;
    padding: 10px 0;    
}

.article_4:nth-child(even) .right_col {
    padding: 0;
    order: 2;
}

.article_4 h2 {
    padding: 8px 0;
}

.testimonials_wrapp {
	padding-top: 15px;
}

.testimonials_thumbails {
    margin: 40px -12px 58px -12px;
}

.testimonials_thumbails .slick-slide {
	padding: 0 10px;
}

.testimonial_thumb {
    display: block;
    width: 233px;
    height: 319px;
    margin: 0 auto;
}

/*-- /Section 2 - About Page --*/

/*-- Popup --*/

.modal_inner {
    padding: 60px 40px 11px 40px;
}

.modal_title {
	text-align: center;
}

.modal_title p {
    font-size: 12px;
}

.modal_form {
    padding: 0 0 11px 0;
}

.modal_form .submit_wrapp {
    padding: 14px 0 0 0;
}

.items_thumbs_2 .item_thumb p.num_thumb {
    top: 0;
}

.popup_slider {
    margin: 10px 0 29px 0;
}

.popup_slider .slick-slide {
	padding: 0 15px;
}

.popup_slider .thumb_6 {
	height: 260px !important;
	width: 212px !important;
	margin: 19px 0;
}

.popup_slider .thumb_6 .img_box {
    height: 260px !important;
}

/*-- /Popup --*/

}

@media only screen and (max-width: 700px) {

	/*-- Section 3 - Main Page --*/

	.big_fonts {
	    max-width: 460px;
	}

	.big_font:nth-child(1) .shapes:before {
	    left: 13px;
	}

	.big_font:nth-child(1) .shapes:after {
	    right: 15px;
	}

	.big_font:nth-child(1):after {
	    width: calc(100% - 30px);
	    left: 15px;
	}

	.big_font p {
	    font-size: 100px;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 4 - Main Page --*/

	.thumbnails_2 {
	    margin: 41px 0;
	}

	.thumb_2 {
	    width: 100%;
	}

	/*-- /Section 4 - Main Page --*/

	/*-- Section 2 - Project Page --*/

	.two_cols_templ .left_col {
	    width: 100%;
	    padding-right: 0;
	}

	.two_cols_templ .right_col {
	    width: 100%;
	    padding-left: 0;
	}

	/*-- /Section 2 - Project Page --*/

}

@media only screen and (max-width: 600px) {

	h2 {
		font-size: 25px;
	}

	.section_title p {
		font-size: 14px;
	}

	/*-- Header --*/

	.header_site {
	    padding-bottom: 4px;
	}

	.header_site .left_col {
	    width: 100%;
	    padding: 3px 10px 5px 0;
	}

	.header_site .right_col {
		display: none;
	}

	#resp_nav {
	    margin: 57px 0 0 0;
	}

	.good_thumb_small {
	    width: 100%;
	    margin: 10px 0;
	    padding: 18px 45px 10px 25px;
	}

	.item_thumb_2.item_thumb_4:before {
	    top: 6px;
	}

	.good_thumbs_small {
	    margin-left: 0;
	    margin-right: 0;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.promo_tags_wrapp {
	    padding: 15px 0 9px 0;
	}

	.promo_tags {
	    margin: 0 -10px;
	}

	.promo_tags li {
	    padding: 0 10px;
	    font-size: 10px;
	}

	.count_pages_wrapp {
		position: absolute;
    	top: 282px;
	}

	.promo_slider .slick-arrow {
	    top: 50%;
	    left: 15px;
	    margin-top: -12px;
	}

	.promo_slider .slick-next {
	    right: 15px;
	    left: auto;
	}

	.slider_imfo {
	    margin: 9px 0 9px 40px;
	}

	.promo_templ .flex_wrapp:after {
		display: none;
	}

	.params_thumbs {
	    margin: 6px -17px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 2 - Main Page --*/

	.dark_note {
	    margin: 28px auto 30px auto;
	}

	.dark_note p {
	    font-size: 16px;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 3 - Main Page --*/

	.big_fonts {
	    max-width: 358px;
	}

	.big_font p {
	    font-size: 70px;
	}

	.big_font p.num_thumb {
	    margin-left: -9px;
	    font-size: 10px;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 4 - Main Page --*/

	.thumb_2 {
		margin: 11px 0;
	}

	.thumb_2 .thumb_title {
	    padding: 23px 0;
	    position: relative;
	}

	.thumb_2 .thumb_title:before {
		display: block;
		content: "";
		width: 8px;
		height: 12px;
		background-image: url(img/red_right_arrow.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		position: absolute;
		top: 37px;
		right: -6px;
	}

	.thumb_2 .thumb_title h4 {
	    font-size: 20px;
	    line-height: 34px;
	    text-align: left;
	}

	.thumb_2 .inner {
	   	padding: 4px 30px 10px 30px;
	    text-align: left;
	}

	.thumb_2 .thumb_title:after {
	    left: 0;
	    margin-left: 0;
	}

	.thumb_2.gradient .inner {
	    background-color: #ffffff;
	}

	.thumb_2 .thumb_descript p {
	    font-size: 14px;
	}

	/*-- /Section 4 - Main Page --*/

	/*-- Section 6 - Main Page --*/

	.thumbnails_3 {
	    margin: 25px 0;
	}

	.thumb_3 {
	    width: 100%;
	    margin: 15px 0;
	}

	/*-- /Section 6 - Main Page --*/

	/*-- Section 7 - Main Page --*/

	.article_2_bg {
	    background: -webkit-linear-gradient(90deg, rgba(26, 29, 31, 0.9) 0%, rgba(26, 29, 31, 0.63) 60%, rgba(26, 29, 31, 0) 90%), url(img/bg_2_resp.jpg);
	    background: -moz-linear-gradient(90deg, rgba(26, 29, 31, 0.9) 0%, rgba(26, 29, 31, 0.63) 60%, rgba(26, 29, 31, 0) 90%), url(img/bg_2_resp.jpg);
	    background: linear-gradient(90deg, rgba(26, 29, 31, 0.9) 0%, rgba(26, 29, 31, 0.63) 60%, rgba(26, 29, 31, 0) 90%), url(img/bg_2_resp.jpg);
		background-size: cover;
	}

	.article_2_desc {
		text-align: center;
		margin: 0 auto;
	}

	.article_2 h2 {
	    font-size: 25px;
	}

	/*-- /Section 7 - Main Page --*/

	/*-- Section 8 - Main Page --*/

	.sect_8_mp {
	    padding: 35px 0;
	}

	.thumbnails_4 {
	    margin: 39px 0 0 0;
	}

	.thumb_4 {
	    margin: 14px;
	}

	.thumb_4 .icon_box {
	    height: 35px;
	}

	.thumb_4 h3 {
	    padding: 0;
	    font-size: 14px;
	    line-height: 18px;
	}

	.thumb_4 p {
	    padding: 3px 0;
	    font-size: 14px;
	    line-height: 18px;
	}

	.thumb_4 .thumb_descript {
	    padding: 16px 0 10px 0;
	}

	/*-- /Section 8 - Main Page --*/

	/*-- Section 9 - Main Page --*/

	.sect_9_mp {
	    padding: 54px 0 16px 0;
	}

	.portfolio_slider {
	    margin: 18px 0 9px 0;
	}

	.section_title_resp {
		display: block;
	}

	.resp_btn_wrapp {
	    display: block;
	}

	/*-- /Section 9 - Main Page --*/

	/*-- Section 10 - Main Page --*/

	.sect_10_mp {
	    padding: 25px 0;
	}

	.items_thumbnails {
    	padding: 20px 0 0 0;
	}

	.item_thumb_2 p {
	    font-size: 14px;
	}

	/*-- /Section 10 - Main Page --*/

	/*-- Section 12 - Main Page --*/

	.contacts_title {
		margin-top: 35px;
		text-align: center;
	}

	.map {
	    height: 220px;
	}

	.map_tooltip {
		padding: 23px 25px 21px 25px;
	}

	.resp_thumbs {
	    display: block;
	}

	.resp_thumbs {
		margin: 31px 0 47px 0;
	}

	.resp_thumbs .item_thumb_2 {
	    margin: 21px 0;
	}

	/*-- /Section 12 - Main Page --*/

	/*-- Section 2 - Cards Page --*/

	.goodthumbnails {
		margin: 3px 0 19px 0;
	}
	
	.good_thumb {
	    width: 100%;
	    margin: 12px 0;
	    min-height: 200px;
	}

	/*-- /Section 2 - Cards Page --*/

	/*-- Section 2 - Good Card Page --*/

	.brands {
	    margin: 23px 0;
	}

	.resp_center {
		text-align: center;
	}

	.brand_thumb {
	    height: 40px;
		width: 74px;
    	margin: 2px 6px;
	}

	/*-- /Section 2 - Good Card Page --*/

	/*-- Section 3 - Good Card Page --*/

	.sect_3_gcp {
	    padding-top: 50px;
	}

	.tree_cols_text {
	    margin: 30px 0 10px 0;
	    column-count: 1;
	    -moz-column-count: 1;
	    -webkit-column-count: 1;
	    column-gap: 0;
	    -moz-column-gap: 0;
	    -webkit-column-gap: 0;
	}

	.select_wrapp span.tooltip_content {
	    left: -70px;
	}

	/*-- /Section 3 - Good Card Page --*/

	/*-- Section 2 - Portfolio Page --*/

	.portfolio_thumbnails {
	    margin: 3px 0 0 0;
	}

	.portfolio_thumb_2 {
	    width: 100%;
    	margin: 22px 0;
	}

	.button_wrapp {
	    padding: 0 0 23px 0;
	}

	/*-- /Section 2 - Portfolio Page --*/

	/*-- Section 2 - Project Page --*/

	.two_cols_text {
	    width: 100%;
	    column-count: unset;
	    -moz-column-count: unset;
	    -webkit-column-count: unset;
	    column-gap: unset;
	    -moz-column-gap: unset;
	    -webkit-column-gap: unset;
	}

	.thumb_5_2 {
	    margin-bottom: 21px;
	}

	/*-- /Section 2 - Project --/

	/*-- Footer --*/

	.footer_three_cols .col:nth-child(1) {
	    display: none;
	}

	.footer_three_cols .col:nth-child(2) {
	    display: none;
	}

	/*-- /Footer --*/

/*-- Popup --*/

	.modal_inner {
	    padding: 60px 20px 11px 20px;
	}

	.modal_form .red_btn {
	    font-size: 13px;
	}

	.items_thumbs_2 {
	    margin: 28px 0 10px -10px;
	}

	.items_thumbs_2 .item_thumb {
	    margin: 4px 0;
	}

	.items_thumbs_2 .item_thumb:nth-child(odd) {
	    width: 100%;
	}

	.items_thumbs_2 .item_thumb:nth-child(even) {
	    width: 100%;
	}

	.items_thumbs_2 .item_thumb p {
	    padding: 4px 0;
	    font-size: 14px;
	}

	.items_thumbs_2 .item_thumb p.num_thumb {
	    top: 1px;
	}

	.modal_inner .description_box {
	    margin-bottom: 5px;
	}

	.thumbnails_7 {
	    margin: 5px 0 7px 0;
	}

	.thumb_7 {
	    width: 100%;
	    padding: 10px 0;
	}

/*-- /Popup --*/

}


@media only screen and (max-width: 480px) {

	/*-- Section 1 - Main Page --*/

	.count_pages_wrapp {
	    top: 206px;
	}

	.promo_slider .slide .img_box {
	    height: 170px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 3 - Main Page --*/

	.big_fonts {
		max-width: 265px;
	    left: 0;
	}

	.big_font {
		padding: 0 13px;
	}

	.big_font:nth-child(odd) {
	    margin: 15px 0;
	    padding-left: 0;
	}

	.big_font:nth-child(even) {
	    margin: 15px 0;
	    padding-right: 0;
	}

	.big_font .shapes:before {
	    height: 5px;
	}

	.big_font .shapes:after {
	    height: 5px;
	}

	.big_font:nth-child(1):after {
	    width: calc(100% - 15px);
	    left: 2px;
	}

	.big_font:nth-child(1) .shapes:after {
	    right: 13px;
	}

	.big_font:nth-child(1) .shapes:before {
	    left: 2px;
	}

	.big_font:nth-child(2):after {
	    width: calc(100% - 10px);
	    left: 5px;
	}

	.big_font:nth-child(2) .shapes:after {
	    right: 5px;
	}

	.big_font:nth-child(2) .shapes:before {
	    left: 4px;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 5 - Main Page --*/

	.sect_5_mp {
	    padding: 23px 0 6px 0;
	}

	.vector_article .col_1 {
	    padding-top: 5px;
	}

	.resp_vector {
	    top: 10px;
	}

	.article h2 {
	    font-size: 20px;
	    line-height: 30px;
	}

	.vector_article p {
	    padding: 0;
	    font-size: 14px;
	    color: #FFFFFF;
	}

	.vector_article .red_btn {
	    margin: 21px 0 10px 0;
	    padding: 18px 10px;
	}

	/*-- /Section 5 - Main Page --*/

	/*-- Section 6 - Main Page --*/

	.sect_6_mp {
	    padding: 30px 0 2px 0;
	}

	.resp_left {
		text-align: left;
	}

	.thumb_3 h5 {
	    padding: 0 0 2px 0;
	}

	.thumb_3 {
		display: block;
	    margin: 22px 0;
	}

	.thumb_3 .desc_col {
	    width: 100%;
	    padding: 0;
	}

	/*-- /Section 6 - Main Page --*/

	/*-- Section 11 - Main Page --*/

	.steps_slider {
	    margin: 7px -12px;
	}

	.step_thumb {
	    margin: 12px;
	    min-height: 217px;
	    padding: 22px 10px 10px 22px;
	}

	.step_thumb .icon_box {
	    height: 40px;
	    margin-bottom: 15px;
	}

	.step_thumb h4 {
		padding-bottom: 3px;
		font-size: 14px;
		line-height: 20px;
	}

	.step_thumb p {
	    font-size: 14px;
	}

	span.tooltip_content {
	    bottom: 20px;
	    left: -130px;
	}

	.grey_box .inner_flex {
	    padding: 25px 35px 16px 35px;
	}

	.grey_box .inner_flex .left_col {
	    padding: 12px 0 0 5px;
	}

	.grey_box h2 {
	    padding: 0 0 6px 0;
	    font-size: 20px;
	    line-height: 26px;
	}

	.grey_box h2:before {
		top: 14px;
	    left: -15px;
	}

	/*-- /Section 11 - Main Page --*/

	/*-- Section 1 - Good Card Page --*/

	.good_slider_templ {
	    margin-top: 17px;
	}

	.good_slider_templ .left_col {
	    padding: 0 0 12px 0;
	}

	.miniature_slider {
		display: none !important;
	}

	.big_slider .img_box {
	    height: 186px;
	}

	.big_slider .slick-prev {
	    left: 18px;
	}

	.big_slider .slick-next {
	    right: 18px;
	}

	/*-- /Section 1 - Good Card Page --*/

	/*-- Section 1 - Good Card Page --*/

	.two_cols_templ_2 h2 {
	    padding: 16px 0;
	    font-size: 20px;
	    line-height: 30px;
	}

	.two_cols_templ_2 .right_col .grey_wrapp {
	    margin: 0 -15px 0 -15px;
	}

	.thumbmails_5 {
	    margin: 0 0 22px 0;
	}

	.thumb_5 {
	    width: 100%;
	    margin: 16px 15px;
	    padding: 0 0 28px 0;
	}

	/*-- /Section 1 - Good Card Page --*/

	/*-- Section 2 - Delivery Page --*/

	.delivery_thumbnails {
	    margin: 4px 0 20px 0;
	}

	.delivery_thumb {
	    padding: 14px 10px 15px 10px;
	}

	.delivery_thumb h2 {
		padding: 10px 0 5px 25px;
	    font-size: 20px;
	    line-height: 30px;
	}

	.delivery_thumb h2:before {
	    width: 10px;
	    height: 10px;
	    top: 20px;
	    left: 0;
	    border: 2px solid #E5343D;
	}

	.delivery_thumb h3 {
	    padding: 14px 0 10px 0;
	}

	.table_row .cell:nth-child(odd) {
	    width: 56%;
	}

	.table_row .cell:nth-child(even) {
	    width: 44%;
	}

	/*-- /Section 2 - Delivery Page --*/

	/*-- Section 2 - About Page --*/

	.article_4 {
	    margin: 0 0 5px 0;
	}

	.article_4 h2 {
	    font-size: 20px;
	    line-height: 30px;
	}

	.article_4 .img_box img {
	    max-height: 250px;
	}

	/*-- .Section 2 - About Page --*/

	/*-- Footer --*/

	.footer_section {
	    padding: 0;
	}

	.footer_three_cols .col {
	    padding: 0;
	}

	.footer_section .logo {
		display: none;
	}

	.footer_shape:after {
		display: none;
	}

	.footer_three_cols {
	    margin: 9px 0;
	}

	.footer_form_wrapp {
    	padding-bottom: 61px;
	}

	.footer_form_wrapp .input_wrapp:nth-child(1) {
		margin-top: 10px;
	}

	.contatc_item {
		margin-left: -25px;
		margin-bottom: 12px;
	}

	.resp_submit {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.resp_submit .red_btn {
		margin: 0;
	}

	.resp_contatcs {
		display: block;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 350px) {

	/*-- Popup --*/

	.big_font p {
	    font-size: 60px;
	}

	/*-- /Popup --*/

}

@media only screen and (min-width: 1125px) {
	#resp_nav {
		display: none !important;
	}
}
